@import "main.less";
@import "encrypt.less";
@import "result.less";
@import "buttons.less";
@import "variables.less";
@import "utils.less";

body{
  font-family: @sansFontFamily;
}

#header{
  width: 100%;
  text-align: center;
  h1{
    margin-bottom: 0px;
  }
  span{
    font-family: @monoFontFamily;
  }
}


#main-buttons{
  text-align: center;

}